<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!--  Bootstrap 4.3.1  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.3.1.min.css">
    <!--  Custom CSS  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      body {
        user-select: none;
      }

      .form-item {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 3px rgba(0, 0, 0, 0.2);
      }

      #form-result .info-subject {
          font-size: 12px;
          font-weight: 100;
          margin-bottom: 2px;
      }
      #form-result .info-content {
          font-size: 16px;
          font-weight: 100;
          color: #0B3199;
          user-select: all;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row align-items-center justify-content-center flex-wrap" style="min-height: 95vh;">
          <div class="row col-lg-12 align-items-center justify-content-center" style="height: 100%">
            <div class="col-lg-4 p-5 form-item" id="form-search">
              <div class="text-center">
                <h3 class="mb-2 main-color-3-f">약관 동의 조회</h3>
                <p class="mb-4 main-color-3-f">Right Consumer 의 요청으로 동의한 약관 내역을 저장한 Block 정보를 조회합니다.</p>
              </div>
              <div class="form-group mb-0">
                <button class="btn btn-block btn-basic" id="btn-search">Search</button>
              </div>
            </div>
            <div class="col-lg-6 p-5 form-item hidden" id="form-decrypt">
              <div class="text-center">
                <h3 class="title mb-2 main-color-3-f">조회한 Block 정보</h3>
                <p class="sub-title mb-4 main-color-3-f">현재 약관 동의 내역을 저장한 Block에 대한 정보가 암호화 되어있습니다. 복호화를 위해서는 <strong style="color: #E8A62C;">Priate Key</strong>가 필요합니다.</p>
              </div>
              <div class="form-group">
                <div id="form-result" style="overflow-wrap: break-word"></div>
              </div>
              <div class="row form-group mb-0">
                <button class="btn btn-flex btn-basic-reverse" id="btn-cancel">이전으로</button>
                <button class="btn btn-flex btn-basic" id="btn-decrypt">Decrypt</button>
                <button class="btn btn-flex btn-basic hidden" id="btn-move">조회</button>
                <input class="hidden input-import-key" id="input-file" type="file" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  JQuery  -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!--  Bootstrap 4.3.1 JS  -->
    <script src="/javascripts/bootstrap-4.3.1.min.js"></script>
    <!--  Subtle Crypto  -->
    <script src="/javascripts/subtleCrypto.js"></script>
    <script>
      $(document).ready(function() {
        let encrypted = null;
        let decryptStatus = false;

        // Search button click event
        $('#btn-search').on('click', function() {
          $.ajax({
            type: "POST",
            url: "/search/agreement",
            success: function(res) {
              if (res) {
                encrypted = res.info;
                $('#form-search').addClass("hidden");
                $('#form-result').text(res.info);
                $('#form-decrypt').removeClass("hidden");
              } else {
                alert(res.message);
              }
            }
          });
        });

        // Decrypt Button Event
        $('#btn-decrypt').on('click', function() {
          if (!decryptStatus) {
            $('#input-file').click();
          } else {
            alert("이미 데이터 복호화를 수행하였습니다.");
          }
        });

        // Decrypt
        $('#input-file').on('change', async function() {
          if (encrypted !== null) {
            const reader = new FileReader();
            reader.readAsText(this.files[0]);
            reader.onload = async function() {
              await importPrivateKey(reader.result);
              const result = await decryptData(encrypted);
              if (result.result) {
                decryptStatus = true;
                const info = JSON.parse(result.message);
                const html = '<div class="form-group mb-0"><p class="info-subject">Block Num: </p><p class="info-content">'+info.blockNum+'</p></div>'+
                      '<div class="form-group mb-0"><p class="info-subject">Tx ID: </p><p class="info-content">'+info.txID+'</p></div>'+
                      '<div class="form-group mb-0"><p class="info-subject">B_key: </p><p class="info-content">'+info.b_key+'</p></div>';
                $('#form-result').html(html);
                $('#form-decrypt .sub-title').html('입력한 <strong style="color: #E8A62C;">Private Key</strong>를 이용하여 복호화한 Block의 정보입니다.<br/>(더블 클릭 시, 클립보드에 복사됩니다.)');
                $('#btn-move').removeClass("hidden");
              } else {
                  alert(result.message);
              }
            }
          } else {
            alert("복호화할 데이터가 없습니다.");
          }
        });

        // Cancel Button Event
        $('#btn-cancel').on('click', function() {
          if (confirm("이전 단계로 돌아가시겠습니까?")) {
            encrypted = null;
            decryptStatus = false;
            $('#form-search').removeClass("hidden");
            $('#form-decrypt').addClass("hidden");
          }
        });

        // 복호화한 Block 정보에 대한 더블클릭 Event
        $(document).on('dblclick', '#form-result .info-content', function(e) {
          document.execCommand("copy");
          alert("클립보드에 복사되었습니다.");
        });

        // 조회를 위해 Trust-Provider로 이동
        $('#btn-move').on('click', function() {
          window.open("http://52.79.182.164:3000/search", "Search Info", "toolbar=no, location=no, status=no, menubar=no, scrollbars=auto, resizable=no, directories=no, width=830, height=780");
        });

        // Logout
        $('#btn-logout').on('click', function() {
          $.ajax({
            type: 'POST',
            url: "/logout",
            success: function(res) {
              location.href = "/login";
            }
          });
        });

      });
    </script>
  </body>
</html>
