<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

    <!--  Bootstrap 4.3.1  -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.3.1.min.css">
    <!--  Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.css">
    <!--  Awesome Bootstrap Checkbox  -->
    <link rel="stylesheet" href="/stylesheets/awesome-bootstrap-checkbox.css">
    <!--  Custom CSS  -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <style>
      .register-logo {
        font-size: 69px;
        font-weight: 300;
        letter-spacing: -5px;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="container">
        <div class="row align-items-center justify-content-center min-vh-100">
          <div class="col-lg-5 py-5">
            <div class="text-center">
              <h3 class="register-logo mb-2 main-color-6-f">Register</h3>
              <p class="mb-5 main-color-3-f">Sign in to your account to continue.</p>
            </div>
            <div class="form-group">
              <label class="input-label" for="input-id">User ID</label>
              <div class="input-group">
                <input class="input-basic" id="input-id" placeholder="Input User ID" />
                <div class="input-group-append"><span id="btn-check">중복 확인</span></div>
              </div>
            </div>
            <div class="form-group">
              <label class="input-label" for="input-name">Your Name</label>
              <input class="input-basic" type="text" id="input-name" placeholder="Input Your Name" />
            </div>
            <div class="form-group">
              <label class="input-label" for="input-pw">Password</label>
              <input class="input-basic" type="password" id="input-pw" placeholder="Input Password" />
            </div>
            <div class="form-group mb-4">
              <label class="input-label" for="input-pw-c">Confirm Password</label>
              <input class="input-basic" type="password" id="input-pw-c" placeholder="Input Password" />
            </div>
            <div class="form-group">
              <button class="btn btn-block btn-basic" id="btn-next">Next</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--  JQuery  -->
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <!--  Bootstrap 4.3.1 JS  -->
    <script src="/javascripts/bootstrap-4.3.1.min.js"></script>
    <script>
      $(document).ready(function() {
        // Duplication step
        let checkDuplication = false;

        // Check duplication
        $('#btn-check').on('click', function() {
          const userId = $('#input-id').val();
          if (blankCheck(userId)) {
            alert("아이디를 입력해 주세요.");
            $('#input-id').focus();
          } else {
            $.ajax({
              type: "POST",
              url: "/check/duplication",
              data: "userId="+userId,
              success: function(res) {
                if (res.result) {
                  checkDuplication = true;
                }
                alert(res.message);
              }
            });
          }
        });

        // Change ID
        $('#input-id').on('click', function() {
          checkDuplication = false;
        });

        // Next button click event
        $('#btn-next').on('click', function() {
          const info = {
            name: $('#input-name').val(),
            id: $('#input-id').val(),
            pw: $('#input-pw').val(),
            agreement: {
              "1": $('#check-agreement-1').val(),
              "2": $('#check-agreement-2').val(),
              "3": $('#check-agreement-3').val()
            }
          }

          // Confirm
          if (blankCheck(info.id)) {
            alert("아이디를 입력해주세요.");
            $('#input-id').focus();
          } else if (!checkDuplication) {
            alert("아이디 중복 확인을 해주세요.");
          } else if (blankCheck(info.name)) {
            alert("이름을 입력해주세요.");
            $('#input-name').focus();
          } else if (blankCheck(info.pw)) {
            alert("비밀번호를 입력해주세요.");
            $('#input-pw').focus();
          } else if (blankCheck($('#input-pw-c').val())) {
            alert("비밀번호 확인을 입력해주세요.");
            $('#input-pw-c').focus();
          } else if (info.pw !== $('#input-pw-c').val()) {
            alert("비밀번호가 일치하지 않습니다.");
            $('#input-pw-c').val('');
            $('#input-pw-c').focus();
          } else {
            $.ajax({
              type: "POST",
              url: "/register/info",
              data: "info="+JSON.stringify(info),
              success: function(res) {
                if (res.result) {
                  checkDuplication = false;
                  location.href = "/register/step2";
                } else {
                  alert(res.message);
                }
              }
            });
          }
        });
      });

      function blankCheck(value) {
        if (value === '' || value === null || value === undefined) return true;
        const blankPattern = /^\s+|\s+$/g;
        return value.replace(blankPattern, "") === "";
      }
    </script>
  </body>
</html>
